<div class="container">
  <ng-container *ngIf="cityList?.length; else cityListLoader">
    <div class="row mb-3">
      <div class="col-8">
        <app-city-header [cityName]="currentCity?.name"></app-city-header>
      </div>
      <div class="col-4">
        <app-select-city [cityList]="cityList" (citySelected)="citySelected($event)"></app-select-city>
      </div>
    </div>

    <ng-container *ngIf="currentWeather">
      <div class="row mb-3" *ngFor="let weatherInfo of currentWeather.weather">
        <div class="col-12">
          <app-weather-description [description]="weatherInfo?.main" [highlightDescription]="true"></app-weather-description>
        </div>
        <div class="col-12">
          <app-weather-description [description]="weatherInfo?.description"></app-weather-description>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-4">
          <app-weather-info [weatherIcon]="weatherIcon.temp" [value]="currentWeather.main?.temp | displayValue : '&#8451;'"></app-weather-info>
        </div>
        <div class="col-4">
          <app-weather-info [weatherIcon]="weatherIcon.windSpeed" [value]="currentWeather.wind?.speed | displayValue : 'km/h'"></app-weather-info>
        </div>
        <div class="col-4">
          <app-weather-info [weatherIcon]="weatherIcon.clouds" [value]="currentWeather.clouds?.all | displayValue : '%'"></app-weather-info>
        </div>
        <div class="col-4">
          <app-weather-info [weatherIcon]="weatherIcon.pressure" [value]="currentWeather.main?.pressure | displayValue : 'hPa'"></app-weather-info>
        </div>
        <div class="col-8">
          <app-weather-info [weatherIcon]="weatherIcon.windDeg" [value]="currentWeather.wind?.deg | displayValue : '&deg;'"></app-weather-info>
        </div>
        <div class="col-8">
          <app-weather-info [weatherIcon]="weatherIcon.humidity" [value]="currentWeather.main?.humidity | displayValue : '%'"></app-weather-info>
        </div>
        <div class="col-4">
          <app-weather-info [weatherIcon]="weatherIcon.sunrise" [value]="currentWeather.sys?.sunrise | displayDate"></app-weather-info>
        </div>
        <div class="col-8">
          <app-weather-info [weatherIcon]="weatherIcon.tempMin" [value]="currentWeather.main?.temp_min | displayValue : '&#8451;'"></app-weather-info>
          -
          <app-weather-info [weatherIcon]="weatherIcon.tempMax" [value]="currentWeather.main?.temp_max | displayValue : '&#8451;'"></app-weather-info>
        </div>
        <div class="col-4">
          <app-weather-info [weatherIcon]="weatherIcon.sunset" [value]="currentWeather.sys?.sunset | displayDate"></app-weather-info>
        </div>
      </div>
    </ng-container>
  
    <div class="row mb-3">
      <div class="col-12">
        <app-weather-map [coordinates]="currentCity?.coord"></app-weather-map>
      </div>
    </div>
  </ng-container>

  <ng-template #cityListLoader>
    <div class="mx-auto mt-2 text-centered">Loading...</div>
  </ng-template>
</div>
